<section class="module property-submit">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <form class="multi-page-form"
                      [formGroup]="addPropertyForm">

                    <div class="center">
                        <div class="form-nav">
                            <div class="form-nav-item"
                                 [ngClass]="{'completed': addPropertyForm.valid}">
                                <span *ngIf="true">
                                    1
                                </span>
                                <span *ngIf="false">
                                    <i class="fa fa-check"></i>
                                </span><br />
                                Basic Info
                            </div>
                            <div class="form-nav-item"
                                 [ngClass]="{'completed': addPropertyForm.valid}">
                                <span *ngIf="true">
                                    2
                                </span>
                                <span *ngIf="false">
                                    <i class="fa fa-check"></i>
                                </span><br />
                                Images
                            </div>
                            <div class="form-nav-item"
                                 [ngClass]="{'completed': addPropertyForm.valid}">
                                <span *ngIf="true">
                                    3
                                </span>
                                <span *ngIf="false">
                                    <i class="fa fa-check"></i>
                                </span><br />
                                Location
                            </div>
                            <div class="form-nav-item"
                                 [ngClass]="{'completed': addPropertyForm.valid}">
                                <span *ngIf="true">
                                    4
                                </span>
                                <span *ngIf="false">
                                    <i class="fa fa-check"></i>
                                </span><br />
                                Amenities
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="multi-page-form-content"
                         [ngClass]="{'active': currentIndex == 1}">

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>

                        <table class="property-submit-title">
                            <tr>
                                <td><span class="property-submit-num">1</span></td>
                                <td>
                                    <h4>Basic Info</h4>
                                </td>
                            </tr>
                        </table>

                        <div class="form-block">
                            <label>Property Title*</label>
                            <input class="border required"
                                   type="text"
                                   name="property-title" />
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-block">
                                    <label>Price*</label>
                                    <input class="border required"
                                           type="number"
                                           name="price" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-block">
                                    <label>Price Postfix</label>
                                    <input class="border"
                                           type="text"
                                           name="price-post" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-block">
                                    <label>Bedrooms</label>
                                    <input class="border"
                                           type="number"
                                           name="beds" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-block">
                                    <label>Bathrooms</label>
                                    <input class="border"
                                           type="number"
                                           name="baths" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-block">
                                    <label>Garages</label>
                                    <input class="border"
                                           type="number"
                                           name="garages" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-block">
                                    <label>Area</label>
                                    <input class="border"
                                           type="number"
                                           name="area" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-block">
                                    <label>Area Postfix</label>
                                    <input class="border"
                                           type="text"
                                           name="area-post" />
                                </div>
                            </div>
                        </div>

                        <div class="form-block border">
                            <label>Property Type</label>
                            <select name="property-type"
                                    class="border">
                                <option></option>
                                <option value="family-house">Family House</option>
                                <option value="apartment">Apartment</option>
                                <option value="condo">Condo</option>
                            </select>
                        </div>

                        <div class="form-block border">
                            <label>Property Status</label>
                            <select name="property-type"
                                    class="border">
                                <option></option>
                                <option value="for-rent">For Rent</option>
                                <option value="for-sale">For Sale</option>
                                <option value="sold">Sold</option>
                            </select>
                        </div>

                        <div class="form-block">
                            <label>Description</label>
                            <textarea class="border"
                                      name="description"></textarea>
                        </div>

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <div class="clear"></div>

                    </div><!-- end basic info -->

                    <div class="multi-page-form-content"
                         [ngClass]="{'active': currentIndex == 2}">

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <span class="button button-icon small right form-prev"><i class="fa fa-angle-left"></i>
                            Previous</span>

                        <table class="property-submit-title">
                            <tr>
                                <td><span class="property-submit-num">2</span></td>
                                <td>
                                    <h4>Property Images</h4>
                                    <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in
                                        faucibus.</p>
                                </td>
                            </tr>
                        </table>

                        <div class="form-block">
                            <label>Featured Image</label>
                            <input type="file"
                                   name="featured-img" />
                        </div>
                        <br />

                        <div class="form-block gallery">
                            <label>Gallery Images</label>
                            <div class="additional-img-container">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="media-uploader-additional-img">
                                                <input type="file"
                                                       class="additional_img"
                                                       name="additional_img1"
                                                       value="" />
                                                <span class="delete-additional-img right"><i class="fa fa-trash"></i>
                                                    Delete</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <span class="button small add-additional-img">Add Image</span>
                        </div>

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <span class="button button-icon small right form-prev"><i class="fa fa-angle-left"></i>
                            Previous</span>
                        <div class="clear"></div>
                    </div><!-- end property images -->

                    <div class="multi-page-form-content"
                         [ngClass]="{'active': currentIndex == 3}">

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <span class="button button-icon small right form-prev"><i class="fa fa-angle-left"></i>
                            Previous</span>

                        <table class="property-submit-title">
                            <tr>
                                <td><span class="property-submit-num">3</span></td>
                                <td>
                                    <h4>Location</h4>
                                    <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in
                                        faucibus.</p>
                                </td>
                            </tr>
                        </table>

                        <div class="form-block">
                            <label>Address*</label>
                            <input class="border required"
                                   type="text"
                                   name="address" />
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-block">
                                    <label for="property_latitude">Latitude</label>
                                    <input type="text"
                                           name="property_latitude"
                                           class="border"
                                           id="property_latitude" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-block">
                                    <label for="property_longitude">Longitude</label>
                                    <input type="text"
                                           name="property_longitude"
                                           class="border"
                                           id="property_longitude" />
                                </div>
                            </div>
                        </div><!-- end row -->

                        <input size="25"
                               id="pac-input"
                               class="map-input controls"
                               type="text"
                               placeholder="Search"
                               name="map_input">
                        <div id="map-single"></div>

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <span class="button button-icon small right form-prev"><i class="fa fa-angle-left"></i>
                            Previous</span>
                        <div class="clear"></div>
                    </div><!-- end location -->

                    <div class="multi-page-form-content"
                         [ngClass]="{'active': currentIndex == 4}">

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <span class="button button-icon small right form-prev"><i class="fa fa-angle-left"></i>
                            Previous</span>

                        <table class="property-submit-title">
                            <tr>
                                <td><span class="property-submit-num">4</span></td>
                                <td>
                                    <h4>Amenities</h4>
                                    <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in
                                        faucibus.</p>
                                </td>
                            </tr>
                        </table>

                        <div class="form-block amenities-list">
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="ac" />Air Conditioning</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="balcony" />Balcony</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="bedding" />Bedding</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="cable" />Cable TV</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="coffee pot" />Coffee Pot</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="dishwasher" />Dishwasher</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="fridge" />Fridge</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="grill" />Grill</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="heating" />Heating</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="internet" />Internet</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="microwave" />Microwave</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="oven" />Oven</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="parking" />Parking</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="pool" />Pool</label>
                            <label><input type="checkbox"
                                       name="amenities[]"
                                       value="Toaster" />Toaster</label>
                        </div>

                        <span class="button button-icon small right form-next"><i class="fa fa-angle-right"></i> Next</span>
                        <span class="button button-icon small right form-prev"><i class="fa fa-angle-left"></i>
                            Previous</span>

                        <div class="center"><button type="button"
                                    class="button button-icon large alt"><i class="fa fa-angle-right"></i> Submit
                                Property</button></div>
                        <div class="clear"></div>
                    </div><!-- end amenities -->

                </form>

            </div><!-- end col -->
        </div><!-- end row -->

    </div><!-- end container -->
</section>