<section class="subheader subheader-slider property-single-item">
    <div class="property-gallery full-width">
        <div class="slider-wrap">
            <div class="slider-nav slider-nav-property-gallery">
                <span class="slider-prev">
                    <i class="fa fa-angle-left"></i>
                </span>
                <span class="slider-next">
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>
            <div class="property-header property-header-slider">
                <div class="container">
                    <div class="slide-counter"></div>
                    <div class="property-title">
                        <div class="property-price-single right">$255,000
                            <span>Per Month</span>
                        </div>
                        <h4>Modern Family Home</h4>
                        <p class="property-address">
                            <i class="fa fa-map-marker icon"></i>123 Smith Dr, Annapolis, MD</p>
                    </div>
                    <div class="property-single-tags">
                        <div class="property-tag button alt featured">Book Now</div>
                        <div class="property-type right">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider slider-property-gallery">
                <div class="slide"
                     [attr.id]="'slide'+(i+1)"
                     *ngFor="let slide of slides;let i = index;">
                    <div class="img-overlay black">
                        <img [src]="slide.downloadUri">
                    </div>
                    <div class="img-fade"></div>
                </div>
                <!-- <div class="slide"
                     id="slide1">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div>
                <div class="slide"
                     id="slide2">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div>
                <div class="slide"
                     id="slide3">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div>
                <div class="slide"
                     id="slide4">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div>
                <div class="slide"
                     id="slide5">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div>
                <div class="slide"
                     id="slide6">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div>
                <div class="slide"
                     id="slide7">
                    <div class="img-overlay black"></div>
                    <div class="img-fade"></div>
                </div> -->
            </div>
            <div class="container">
                <div class="slider property-gallery-pager">
                    <a class="property-gallery-thumb"
                       *ngFor="let slide of slides;let i = index;">
                        <img [src]="slide.downloadUri"
                             alt="" />
                    </a>
                </div>
            </div>
        </div>
        <!-- end slider wrap -->
    </div>
    <!-- end property gallery -->
</section>