<!-- <section class="subheader subheader-slider property-single-item"
         *ngIf="false">
    <div class="property-gallery full-width">
        <div class="slider-wrap">
            <div class="slider-nav slider-nav-property-gallery">
                <span class="slider-prev">
                    <i class="fa fa-angle-left"></i>
                </span>
                <span class="slider-next">
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>
            <div class="property-header property-header-slider">
                <div class="container">
                    <div class="slide-counter"></div>
                    <div class="property-title">
                        <div class="property-price-single right">$255,000
                            <span>Per Month</span>
                        </div>
                        <h4>Modern Family Home</h4>
                        <p class="property-address">
                            <i class="fa fa-map-marker icon"></i>123 Smith Dr, Annapolis, MD</p>
                    </div>
                    <div class="property-single-tags">
                        <div class="property-tag button alt featured">Book Now</div>
                        <div class="property-type right">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider slider-property-gallery">
                <div class="slide"
                     [attr.id]="'slide'+(i+1)"
                     *ngFor="let slide of slides;let i = index;">
                    <div class="img-overlay black">
                        <img [src]="slide.downloadUri">
                    </div>
                    <div class="img-fade"></div>
                </div>
            </div>
            <div class="container">
                <div class="slider property-gallery-pager">
                    <a class="property-gallery-thumb"
                       *ngFor="let slide of slides;let i = index;">
                        <img [src]="slide.downloadUri"
                             alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subheader subheader-slider property-single-item"
         *ngIf="false && loadSlider">
    <div class="property-gallery full-width">
        <div class="slider-wrap">
            <div class="property-header property-header-slider">
                <div class="container">
                    <div class="slide-counter"></div>
                    <div class="property-title">
                        <div class="property-price-single right">$255,000
                            <span>Per Month</span>
                        </div>
                        <h4>Modern Family Home</h4>
                        <p class="property-address">
                            <i class="fa fa-map-marker icon"></i>123 Smith Dr, Annapolis, MD</p>
                    </div>
                    <div class="property-single-tags">
                        <div class="property-tag button alt featured">Book Now</div>
                        <div class="property-type right">
                        </div>
                    </div>
                </div>
            </div>
            <ngx-slick class="carousel slider slider-property-gallery"
                       #slickModal="slick-modal"
                       [config]="gallerySlider"
                       (afterChange)="afterChange($event)">
                <div ngxSlickItem
                     [attr.id]="'slide'+(i+1)"
                     *ngFor="let slide of slides;let i = index;"
                     class="slide">
                    <div class="img-overlay black">
                        <img [src]="slide.downloadUri">
                    </div>
                </div>
            </ngx-slick>
            <div class="container">
            </div>
        </div>
    </div>
</section> -->
<section class="subheader subheader-slider property-single-item"
         *ngIf="loadSlider">
    <div class="property-gallery full-width">
        <div class="slider-wrap">
            <div class="slider-nav slider-nav-property-gallery">
                <span class="slider-prev custom-slider-button"
                      (click)="onSlide(-1)">
                    <i class="fa fa-angle-left"></i>
                </span>
                <span class="slider-next custom-slider-button"
                      (click)="onSlide(1)">
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>
            <!-- <div class="property-header property-header-slider">
                <div class="container">
                    <div class="property-title">
                        <div class="property-price-single right">$255,000
                            <span>Per Month</span>
                        </div>
                        <h4>Modern Family Home</h4>
                        <p class="property-address">
                            <i class="fa fa-map-marker icon"></i>123 Smith Dr, Annapolis, MD</p>
                    </div>
                    <div class="property-single-tags">
                        <div class="property-tag button alt featured">Book Now</div>
                        <div class="property-type right">
                        </div>
                    </div>
                </div>
            </div> -->
            <slideshow #slideshow
                       [minHeight]="'525px'"
                       [autoPlay]="true"
                       [showDots]="false"
                       [showArrows]="false"
                       [backgroundPosition]="'center center'"
                       [imageUrls]="imageUrlArray"></slideshow>
        </div>
    </div>

</section>