/* You can add global styles to this file, and also import other style files */

:host {
    display: block;
    overflow: hidden;
    height: 100vh;
}

:host main {
    position: relative;
}

:host router-outlet~* {
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-block {
    margin: 5px 0;
}

.form-block label {
    position: absolute;
    top: -17px;
    font-size: 15px;
}

.media-uploader-additional-img {
    position: relative;
    justify-content: center;
    margin: 0 auto;
}

.media-uploader-additional-img label {
    position: relative;
    padding: 15px;
    border: 1px solid rgb(84, 187, 84);
    border-radius: 5px;
    margin-top: 5px;
    width: auto;
    top: 0;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background: rgb(112, 214, 112);
    color: #fff;
    text-align: center;
    display: inline-block;
    transition: .3s;
}

.media-uploader-additional-img label .fa {
    display: inline;
    margin-right: 10px;
}

.media-uploader-additional-img label:hover {
    background: rgb(98, 180, 98);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}

.files-list {
    padding: 10px 0px;
}

.file-list table {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.file-list table tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.file-list table tr td {
    padding: 10px;
    border: 1px solid #ddd;
    border: none;
    border-bottom: 1px solid #ddd;
}

.ng-busy-backdrop {
    position: fixed !important;
}

.loader {
    height: 100%;
    background: url('assets/images/loader.gif') no-repeat center 50%;
    background-size: 50px;
    text-align: center;
}

.splash-screen {
    background-color: rgb(220, 176, 255);
    height: 100%;
    width: 100%;
    position: fixed;
}

.splash-screen .splash-container {
    padding-top: 250px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.splash-screen .logo {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 50px;
    background: url("assets/images/loading_jb.gif") top left no-repeat;
    background-size: 300px 50px;
}

.splash-screen .load-bar {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
}

.splash-screen .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.splash-screen .bar:nth-child(1) {
    background-color: rgb(30, 159, 233);
    animation: loading 3s linear infinite;
}

.splash-screen .bar:nth-child(2) {
    background-color: #8BC34A;
    animation: loading 3s linear 1s infinite;
}

.splash-screen .bar:nth-child(3) {
    background-color: rgb(255, 226, 138);
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}

/* main {
      position: relative;
    top: 90px;
}

.header-default {
    position: fixed;
    top:0;
}

.bottom-bar {
    bottom: 0;
    margin-top: 50px;
} */