<slick-carousel-for-detail [slides]="slides"
                           [loadSlider]="loadSlider"></slick-carousel-for-detail>
<section class="module details-module">
    <div class="container">
        <div class="row">
            <div class="property-single-tags">
                <button type="button"
                        class="property-tag button alt featured"
                        (click)="bookNow()">Book Now</button>
                <div class="property-price-single right">
                    {{ '2000' | currency: 'INR'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">

                <div class="property-single-item property-details">
                    <table class="property-details-single">
                        <tr>
                            <td>
                                <i class="fa fa-bed"></i>
                                <span>3</span> Rooms</td>
                            <td>
                                <i class="fa fa-users"></i>
                                <span>12</span> People</td>
                            <td>
                                <i class="fa fa-wheelchair"></i>
                                <span>1</span> Care Taker
                            </td>
                            <td>
                                <i class="fa fa-tint"></i>
                                <span>1</span> Pool</td>
                        </tr>
                    </table>
                </div>

                <div class="widget property-single-item property-amenities">
                    <h4>
                        <span>Amenities</span>
                        <img class="divider-hex"
                             src="assets/images/divider-half.png"
                             alt="" />
                        <div class="divider-fade"></div>
                    </h4>
                    <ul class="amenities-list">
                        <li>
                            <i class="fa fa-check icon"></i> Balcony</li>
                        <li>
                            <i class="fa fa-check icon"></i> Cable TV</li>
                        <li>
                            <i class="fa fa-check icon"></i> Deck</li>
                        <li>
                            <i class="fa fa-check icon"></i> Dishwasher</li>
                        <li>
                            <i class="fa fa-check icon"></i> Heating</li>
                        <li>
                            <i class="fa fa-close icon"></i> Internet</li>
                        <li>
                            <i class="fa fa-check icon"></i> Parking</li>
                        <li>
                            <i class="fa fa-check icon"></i> Pool</li>
                        <li>
                            <i class="fa fa-check icon"></i> Oven</li>
                        <li>
                            <i class="fa fa-close icon"></i> Gym</li>
                        <li>
                            <i class="fa fa-check icon"></i> Laundry Room</li>
                    </ul>
                </div>
                <!-- end amenities -->
            </div>
            <!-- end col -->

            <div class="col-lg-4 col-md-4 sidebar property-reviews-custom sidebar-property-single">

                <div class="widget recent-posts">
                    <h4 style="margin-bottom: 10px;">
                        <span style="margin-bottom:0;">Recent Reviews</span>
                        <img src="assets/images/divider-half.png"
                             alt="" />
                    </h4>
                    <div class="widget-content">

                        <div class="recent-property">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <p>Nice home, luxuary rooms, good to stay</p>
                                    <p>
                                        <span>
                                            <span *ngFor="let item of ratingArr; let i = index;">
                                                <i class="fa fa-star"
                                                   *ngIf="((i+1) <= rating); else emptyStar"></i>
                                                <ng-template #emptyStar>
                                                    <i class="fa fa-star-o"></i>
                                                </ng-template>
                                            </span>
                                            <!-- <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i> -->
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            <i class="fa fa-user"></i> Feb, 18th 2017
                                        </span>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="recent-property">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <p>Nice home, luxuary rooms, good to stay</p>
                                    <p>
                                        <span>
                                            <span *ngFor="let item of ratingArr; let i = index;">
                                                <i class="fa fa-star"
                                                   *ngIf="((i+1) <= rating); else emptyStar"></i>
                                                <ng-template #emptyStar>
                                                    <i class="fa fa-star-o"></i>
                                                </ng-template>
                                            </span>
                                            <!-- <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i> -->
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            <i class="fa fa-user"></i> Feb, 18th 2017
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="recent-property">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <p>Nice home, luxuary rooms, good to stay</p>
                                    <p>
                                        <span>
                                            <span *ngFor="let item of ratingArr; let i = index;">
                                                <i class="fa fa-star"
                                                   *ngIf="((i+1) <= rating); else emptyStar"></i>
                                                <ng-template #emptyStar>
                                                    <i class="fa fa-star-o"></i>
                                                </ng-template>
                                            </span>
                                            <!-- <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i> -->
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            <i class="fa fa-user"></i> Feb, 18th 2017
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a (click)="moreReviews()">. . .More Reviews</a>
                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget -->
            </div>
            <!-- end sidebar -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">


                <div class="widget property-single-item property-description content">
                    <h4>
                        <span>Description</span>
                        <img class="divider-hex"
                             src="assets/images/divider-half.png"
                             alt="" />
                        <div class="divider-fade"></div>
                    </h4>
                    <p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus.
                        Mauris ac
                        maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum
                        elementum,
                        est elit finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur
                        imperdiet,
                        neque velit tristique turpis, et iaculis mi tortor finibus turpis.
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla
                        finibus lobortis
                        pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar
                        nisi
                        tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor
                        iaculis
                        massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam
                        pellentesque
                        nibh et nibh feugiat gravida. Maecenas ultricies, diam vitae semper placerat, velit risus
                        accumsan
                        nisl, eget tempor lacus est vel nunc. Proin accumsan elit sed neque euismod fringilla.
                        Curabitur
                        lobortis nunc velit, et fermentum urna dapibus non. Vivamus magna lorem, elementum id gravida
                        ac,
                        laoreet tristique augue. Maecenas dictum lacus eu nunc porttitor, ut hendrerit arcu efficitur.
                    </p>

                </div>
                <!-- end description -->

            </div>
        </div>
        <div class="widget property-single-item property-description content">
            <jb-add-reviews [isAdmin]="false"
                            [showAddBtn]="true"></jb-add-reviews>
        </div>
    </div>
    <!-- end container -->
</section>
<app-jb-modal [header]="'Booking Details'">
    Please provide us with following details and we will get in touch with you!!
    <form [formGroup]="detailsForm">
        <div class="row">
            <div class="col-sm-12 col-md-6"
                 [ngClass]="{'has-error': !detailsForm.controls.name.valid && (detailsForm.controls.name.dirty || detailsForm.controls.name.touched)}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           formControlName="name"
                           id="name"
                           placeholder="First Name + Last Name">
                </div>
            </div>
            <div class="col-sm-12 col-md-6"
                 style="padding-bottom: 10px;"
                 [ngClass]="{'has-error': !detailsForm.controls.mobileNumber.valid && (detailsForm.controls.mobileNumber.dirty || detailsForm.controls.mobileNumber.touched)}">
                <div class="form-group">
                    <label for="cell">Mobile Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            +91
                        </span>
                        <input type="text"
                               class="form-control"
                               formControlName="mobileNumber"
                               id="cell"
                               placeholder="Mobile Number">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6"
                 [ngClass]="{'has-error': !detailsForm.controls.emailId.valid && (detailsForm.controls.emailId.dirty || detailsForm.controls.emailId.touched)}">
                <div class="form-group">
                    <label for="email">Email ID</label>
                    <input type="email"
                           class="form-control"
                           formControlName="emailId"
                           id="email"
                           placeholder="Email ID">
                </div>
            </div>
            <div class="col-sm-12 col-md-6"
                 [ngClass]="{'has-error': !detailsForm.controls.bookingDate.valid && (detailsForm.controls.bookingDate.dirty || detailsForm.controls.bookingDate.touched)}">
                <div class="form-group">
                    <label for="date">Booking Date</label>
                    <!-- <input type="text"
                           class="form-control"
                           formControlName="bookingDate"
                           id="date"
                           placeholder="Booking Date"> -->
                    <div class="input-group date"
                         #datetimepicker>
                        <!-- <input type='text'
                               class="form-control" /> -->
                        <input type="text"
                               class="form-control"
                               [value]="bookingDate"
                               [(ngModel)]="bookingDate"
                               required
                               readonly
                               [ngModelOptions]="{standalone: true}">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <jb-footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="button button-icon small form-prev"
                      *ngIf="detailsForm.valid; else notValidBooking"
                      [ngClass]="{'disabled-book-now': detailsForm.invalid}"
                      (click)="submitDetails()"><i class="fa fa-bookmark"></i>
                    Book</span>
                <ng-template #notValidBooking>
                    <span class="button button-icon small form-prev disabled-book-now"><i class="fa fa-bookmark"></i>
                        Book</span>
                </ng-template>
                <span class="button button-icon small form-next"
                      (click)="hideModal()"><i class="fa fa-times"></i>
                    Cancel</span>
            </div>
        </div>
    </jb-footer>
</app-jb-modal>